# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env.e2e.local
e2e/.auth/

# next.js
/.next/
/out/

# production
/build

# misc
*.traineddata
.DS_Store
__MACOSX/
*.pem
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts
